[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
selenium = "*"
bs4 = "*"
queue = "*"
xlwt = "*"
requests = "*"
redis = "*"
pandas = "*"

[requires]
python_version = "3.7"
